html {
	color-scheme: light dark;
}

body {
	font-family: "Nimbus Sans", Arial, Helvetica, sans-serif;
	margin: 1em;
}

h1, h2, h3, #logotipo, #validador, #contactar {
	font-weight: normal;
	text-align: center;
}

p, pre, hr {
	line-height: 1.5;
	margin: 1em auto;
	max-width: 768px;
}

p, pre, h1 {
	overflow: auto;
}

hr {
	border: medium none;
	border-bottom: 1px solid #888;
}

form {
	margin: 3em auto;
}

label {
	font-weight: bold;
}

input {
	font-size: inherit;
}

input[type=file] {
	font-family: inherit;
	max-width: 100%;
}

#logotipo ~ h1 {
	margin-top: 0;
}

#validador ~ h2 {
	margin-top: 2em;
}

@media print {
	.noprint {
		display: none;
	}
}

@page {
	margin: 0;
}

